.manage-chuc-vu-wrapp {
    height: 100%;
}

.btn-action {
    display: flex;
    height: 5rem;
    padding: 1rem;
}

.form-manage {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form-manage > .form-group-select {
    display: flex;
    justify-content: space-between;
}

.form-manage > .form-group-datepicker {
    display: flex;
    justify-content: center;
}

.modal-title {
    margin-bottom: 1rem !important;
}

.modal-footer {
    margin-top: 1rem !important;
}

.modal-footer > .btn-cancel {
    margin-left: 1rem !important;
}