.sidenav---sidenav---_2tBP {
    top: 5rem !important;
    position: unset !important;
    float: left;
    height: 90%;
}

.sidenav---navtext---1AE_f {
    text-align: left;
}

.sidenav---expanded---1KdUL .sidenav---navtext---1AE_f {
    
    padding-left: 3rem;
}

.sidenav---sidenav-subnavitem---1cD47 {
    margin: 0px !important;
}

.sidenav---sidenav-subnav---1EN61 {
    z-index: 1000;
}
/* .sidenav---navitem---9uL5T {
    padding: 0 !important;
} */